body {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.runHead {
  padding-top: 30px;
  text-align: center;
}

.runInfo {
  padding-top: 30px;
}

.runInfo h4 {
  line-height: .9;
  font-weight: 500;
  font-size: 1.4em;
}

.runInfoTable {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

.runInfoTable th, .runInfoTable td {
  width: 33%;
  text-align: center;
  vertical-align: middle;

}

.runInfoTable li {
  display: inline-block;
  padding: 0 5px;
}

.runInfoTable li:nth-child(5n) {
  display: inline-block;
}

#kidUl {
  display: block;
}
