body {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.runHead {
  padding-top: 30px;
  text-align: center;
}

.runInfo {
  padding-top: 30px;
}

.runInfo h4 {
  line-height: .9;
  font-weight: 500;
  font-size: 1.4em;
}

.runInfoTable {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

.runInfoTable th, .runInfoTable td {
  width: 33%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}

.runInfoTable li {
  display: inline-block;
  padding: 0 5px;
}

.runInfoTable li:nth-child(5n) {
  display: inline-block;
}

#kidUl {
  display: block;
}


.jForm, .runSubmit {
  margin: 70px auto;
  text-align: center;
  width: 300px;
  height: 60px;
  border: 1px solid grey;
  border-radius: 7px;
  font-size: 1.5em;
  padding: 15px 0;

}

.jForm a:hover, .runSubmit a:hover {
  text-decoration: none;
}

.jForm a div {
  width: 100%;
  height: 100%;
}

.runFoot {
  text-align: center;
}

.runFoot h3 {
  margin-bottom: 40px;
}
